---

type Props = {
    href: string;
    name: string;
};

const { href, name } = Astro.props;

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href}>
    <span>{name}</span>
</a>