@use "../../styles/colors" as *;
@use "../../styles";

.navbar {
  margin-bottom: 20px;
  max-height: 20px;

  overflow: visible;
  background: #bbbbbb;

  &-fixed-top,
  &-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
  }

  &-fixed-top {
    top: 0;
  }

  &-collapse{
    display: flex;
    flex-direction: row;

    @include styles.media-breakpoint-down(sm) {
      display: none;
      flex-direction: column;
      grid-column-start: menu-start;

      margin-inline: -2px;

      z-index: 10;

      background-color: styles.$shadow-color;
      border: 2px solid #000000;
      box-shadow: 0 0 0 5px, 11px 13px 0 4px black;
    }
  }

  &-menu {
    @include styles.set-fonts(normal, normal);

    & + label {
      color: black;
      padding-inline: 12px;

      @include styles.media-breakpoint-up(sm){
        display: none;
      }
    }
  }

  &-menu:checked ~ &-collapse {
    display: flex;
  }

  &_inner {
    display: grid;
    grid-template-columns: fit-content(200px) [menu-start] 1fr;
    margin: 0 20px;
  }



  .brand {
    color: $background-color;
  }

  *:first-letter {
    color: red;
  }

  a {
    display: block;
    padding-inline: 12px;
    color: #000000;
    text-decoration: none;

    &:hover {
      color: #bbbbbb;
      background-color: #000000;
    }

    &.nav-link:first-letter{
      color: red;
    }
  }

}

