---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';


const links = [
	{
		Name: 'All posts',
		URL: '/post/',
	},
	{
		Name: 'Main site',
		URL: 'https://gemwire.uk/',
	},
	{
		Name: 'Projects',
		URL: 'https://git.gemwire.uk/',
	},
];

---
<!-- Navbar
================================================== -->

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"></button>
			<a class="brand" href="/">{SITE_TITLE}</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					{links.map((link) => (
						<HeaderLink name={link.Name} href={link.URL}/>
					))}
				</ul>
			</div>
		</div>
	</div>
</nav>

